<div class="mx-auto mt-2">
  <div
    class="grid grid-cols-2 md:grid-cols-4 border border-gray-200 shadow-2xs rounded-xl overflow-hidden"
  >
    <a
      *ngFor="let card of cards"
      class="block p-4 md:p-5 relative bg-white hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:bg-gray-200 first:before:bg-transparent"
      href="#"
    >
      <div
        class="absolute overflow-hidden inset-0 blur-xl h-[580px]"
        style="
          background: linear-gradient(
            143.6deg,
            rgba(192, 132, 252, 0) 20.79%,
            rgba(38, 129, 198, 0.062) 10.92%,
            rgba(204, 171, 238, 0) 70.35%
          );
        "
      ></div>
      <div class="flex md:flex flex-col lg:flex-row gap-y-3 gap-x-5">
        <!-- You can use <svg> or <i [class]="card.icon"> if using icon libraries -->
        <i
          class="shrink-0 size-8 text-gray-600"
          [class]="'bx ' + card.icon"
        ></i>

        <div class="grow">
          <p class="text-xs uppercase font-medium text-gray-800">
            {{ card.title }}
          </p>
          <h3 class="mt-1 text-3xl font-semibold text-black">
            {{ card.subTitle | number }}
          </h3>
        </div>
      </div>
    </a>
  </div>
</div>
