.mini-chat-container {
  position: fixed;
  right: 24px;
  width: 350px;
  transition: 0.3s;
  max-height: 500px;
  background: #ffffff;
  border-radius: 16px 16px 8px 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  font-family: "Inter", Arial, sans-serif;
}

.mini-chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background: #f4f4f4;
  color: #000000;
  border-radius: 16px 16px 0 0;
  font-weight: 600;
}

.mini-chat-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

.mini-chat-close {
  background: transparent;
  border: none;
  color: #570505;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s;
}
.mini-chat-close:hover {
  color: #ff5a5f;
}

.mini-chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mini-chat-message-doctor {
  align-self: flex-end;
  background: #0084ff;
  color: #fff;
  border-radius: 16px 16px 4px 16px;
  padding: 4px 19px;
  max-width: 90%;
  margin-bottom: 4px;
}

.mini-chat-message-patient {
  align-self: flex-start;
  background: #e4e6eb;
  color: #222;
  border-radius: 16px 16px 16px 4px;
  padding: 8px 14px;
  max-width: 90%;
  margin-bottom: 4px;
}

.mini-chat-message-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mini-chat-message-sender {
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.7;
}

.mini-chat-message-text {
  font-size: 0.75rem;
  margin: 2px 0;
}

.mini-chat-message-time {
  font-size: 0.7rem;
  align-self: flex-end;
  opacity: 0.5;
}

.mini-chat-input-area {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-top: 1px solid #e4e6eb;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.mini-chat-input {
  flex: 1;
  border: 1px solid #e4e6eb;
  border-radius: 20px;
  padding: 8px 14px;
  font-size: 1rem;
  outline: none;
  margin-right: 8px;
  background: #f5f6fa;
}

.mini-chat-send-btn {
  background: #0084ff;
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background 0.2s;
}
.mini-chat-send-btn:hover {
  background: #005fa3;
}
