<section class="">
    <div
        class="px-6 relative overflow-hidden py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">

        <div>
            <h2 class="text-xl font-semibold text-gray-800">
                Schedule Overview
            </h2>
            <p class="text-sm text-gray-600">
                View and manage your patient appointments for the upcoming week.
            </p>
        </div>
        <div>
        </div>
    </div>
    <section class="relative mt-4">
        <div class="w-full  mx-auto px-2 lg:px-4 ">
            <div class="flex  items-center justify-between gap-3 mb-5">
                <div class="flex items-center justify-between w-full gap-4">
                    <div class="flex items-center gap-4">
                        <!-- Previous Day Button -->
                        <button (click)="changeDay(-1)" class="text-xl font-bold px-2 hover:text-blue-600 transition">
                            <i class='bx bxs-left-arrow text-gray-700 cursor-pointer'></i>
                        </button>

                        <!-- Selected Date Display -->
                        <h5 class="text-xl font-semibold text-gray-900">
                            {{ selectedDate() | date: 'MM-dd-yyyy' }}
                        </h5>

                        <!-- Next Day Button -->
                        <button (click)="changeDay(1)" class="text-xl font-bold px-2 hover:text-blue-600 transition">
                            <i class='bx bxs-right-arrow text-gray-700 cursor-pointer'></i>
                        </button>
                    </div>

                    <div class="flex items-center gap-2">
                        <div class="flex items-center gap-2">
                            <label
                                class="hidden md:flex py-1 pr-3 rounded-md bg-gray-50 border border-gray-300 items-center gap-1.5 text-xs font-medium text-gray-900 transition-all duration-500 hover:bg-gray-100 cursor-pointer">
                                <input (change)="onDateChange($event)" [value]="formattedToday" type="date"
                                    class="bg-transparent py-0 border-none outline-none cursor-pointer" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relative overflow-x-auto ">
                <div class="min-w-max ">
                    <!-- Header row displaying the days -->
                    <div class="grid grid-cols-7 border-t border-gray-200 sticky top-0 left-0 w-full bg-white z-10">
                        <div *ngFor="let item of selectedDate() | weekDaysFromDate"
                            class="p-3.5 flex items-center justify-between text-sm font-medium text-gray-900">
                            <p class="text-sm"> {{ item.day }}</p>
                            <p class="text-sm"> {{ item.date }}</p>
                        </div>
                    </div>

                    <!-- Empty state message -->
                    <div *ngIf="!appointment() || appointment().length === 0"
                        class="flex flex-col items-center justify-center py-12 px-4 w-full">
                        <svg class="w-48 h-48 mb-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 2V5" stroke="#94A3B8" stroke-width="1.5" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16 2V5" stroke="#94A3B8" stroke-width="1.5" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3.5 9.09H20.5" stroke="#94A3B8" stroke-width="1.5" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
                                stroke="#94A3B8" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M15.6947 13.7H15.7037" stroke="#94A3B8" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M15.6947 16.7H15.7037" stroke="#94A3B8" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M11.9955 13.7H12.0045" stroke="#94A3B8" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M11.9955 16.7H12.0045" stroke="#94A3B8" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8.29431 13.7H8.30329" stroke="#94A3B8" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8.29431 16.7H8.30329" stroke="#94A3B8" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <p class="text-lg font-medium text-gray-900">No Appointments Found</p>
                        <p class="text-sm text-gray-500 text-center mt-1">There are no appointments scheduled for this
                            week.</p>
                    </div>

                    <!-- Appointments for each day -->
                    <div *ngIf="appointment() && appointment().length > 0" class="grid w-full grid-cols-7 ">
                        <ng-container class="col-span-1  "
                            *ngFor="let day of selectedDate() | weekDaysFromDate ;let index = index">
                            <div class="flex flex-col border border-stone-100  items-center">
                                <div class="w-full">
                                    <div *ngFor="let appointment of appointment()">
                                        <div *ngIf="appointment.day == index && appointment.patients.length>0">
                                            <div *ngFor="let patient of appointment.patients;let index = index trackBy: trackByPatient"
                                                class="w-full relative  ">
                                                <span
                                                    class="absolute top-2 right-8 px-1 py-.5 text-[10px] font-semibold "
                                                    [ngClass]="{
                                                  'bg-green-200 text-green-800': patient.isCompleted,
                                                  'bg-red-200 text-red-800': patient.isCanceled,
                                                  'bg-blue-200 text-blue-800': !patient.isCompleted && !patient.isCanceled
                                                }">
                                                    {{ patient.isCanceled ? 'Canceled' : patient.isCompleted ?
                                                    'Completed' : 'Upcoming' }}
                                                </span>

                                                <div
                                                    class="flex justify-center items-center flex-col absolute top-1 right-2 text-sm text-gray-600">
                                                    <div class="relative inline-block text-left"
                                                        [ngClass]="{ 'z-10': openIndex === patient.appointmentId}">
                                                        <span
                                                            class="flex justify-center items-center flex-col absolute top-0 right-1 text-sm text-gray-600">
                                                            <!-- Patient Order -->
                                                            <p class="px-1 bg-white flex flex-col items-center justify-center rounded-sm mb-1 border border-gray-200"
                                                                title="Patient Order">
                                                                <i class='bx bxs-medal text-yellow-500'></i>
                                                                <span class="text-bold text-sm"> {{ index + 1 }}</span>

                                                            </p>

                                                            <!-- Icon Button to Toggle Dropdown -->
                                                            <button (click)="toggleDropdown(patient.appointmentId)"
                                                                class=" flex items-center shadow-sm justify-center cursor-pointer bg-stone-50  focus:outline-none">
                                                                <i class="bx bx-dots-vertical-rounded text-xl"></i>
                                                            </button>

                                                            <!-- Dropdown Menu -->
                                                            <div *ngIf="openIndex === patient.appointmentId"
                                                                class="absolute mt-2 w-36 bg-white border  border-gray-200 bg-stone-100 rounded shadow-md -right-30 top-6 text-sm">
                                                                <button (click)="sentEmail(patient.email)"
                                                                    class="block w-full px-4 py-2 text-left hover:bg-gray-100">Sent
                                                                    Email</button>
                                                                <button
                                                                    (click)="CancelAppointment(patient.appointmentId)"
                                                                    class="block w-full px-4 py-2 text-left text-red-600 hover:bg-red-100">Cancel</button>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="h-32 lg:h-28 border-y border-gray-200">
                                                    <div class="h-28 flex px-4 transition-all hover:bg-stone-100">
                                                        <div class="py-5 ">
                                                            <img class="size-8 rounded-full" [src]="'http://skintelligent.runasp.net/image/PatientPictures/'+patient.profilePicture" alt="Avatar" />
                                                          
                                                            <p class="text-[14px] font-normal  mb-px">
                                                                {{patient.firstName}} {{patient.lastName}}
                                                            </p>
                                                            <div class="flex items-center gap-2">
                                                                <p class="text-xs text-gray-400">
                                                                    {{ patient.startTime | date: 'hh:mm a' }}
                                                                </p>
                                                                <p class="text-xs text-gray-400">
                                                                    - {{ patient.endTime | date: 'hh:mm a' }}
                                                                </p>
                                                            </div>

                                                            <div
                                                                class="text-xs text-blue-400 flex items-center  space-x-1 ">
                                                                <i class='bx bx-phone-call mt-1'></i>
                                                                <p> {{patient.phoneNumber}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>



        </div>
    </section>
</section>