<!-- Table Section -->
<div class="w-full py-8 px-4 md:px-0 mx-auto overflow overflow-visible">
  <div class="bg-white border border-gray-200 rounded-sm shadow-2xs  overflow-x-scroll ">
    <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
      <div>
        <h2 class="text-xl font-semibold text-gray-800">
          Clinic Approval Request
        </h2>
        <p class="text-sm text-gray-600">
          Review and approve clinic registration requests
        </p>
      </div>

    </div>
    <!-- End Header -->

    <!-- Table -->
    <table class="min-w-full divide-y  divide-gray-200">
      <thead class="bg-[#f9fafb]">
        <tr>
          <th scope="col" class="ps-6 py-3 text-start">
            <label for="hs-at-with-checkboxes-main" class="flex">
              <input type="checkbox"
                class="shrink-0 border-gray-300 rounded-sm text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                id="hs-at-with-checkboxes-main">
              <span class="sr-only">Checkbox</span>
            </label>
          </th>
          <th scope="col" class="px-6 py-3 text-start">
            <div class="flex items-center gap-x-2">
              <span class="text-xs font-semibold uppercase text-gray-800">
                Clinic User
              </span>
            </div>
          </th>

          <th scope="col" class="px-6 py-3 text-start">
            <div class="flex items-center gap-x-2">
              <span class="text-xs font-semibold uppercase text-gray-800">
                ContactNumber
              </span>
            </div>
          </th>

          <th scope="col" class="px-6 py-3 text-start">
            <div class="flex items-center gap-x-2">
              <span class="text-xs font-semibold uppercase text-gray-800">
                Address
              </span>
            </div>
          </th>
          <th scope="col" class="px-6 py-3 text-start">
            <div class="flex items-center gap-x-2">
              <span class="text-xs font-semibold uppercase text-gray-800">
                Email
              </span>
            </div>
          </th>

          <th scope="col" class="px-6 py-3 text-start">
            <div class="flex items-center gap-x-2">
              <span class="text-xs font-semibold uppercase text-gray-800">
                Created Date
              </span>
            </div>
          </th>

          <th scope="col" class="px-6 py-3 text-end"></th>
        </tr>
      </thead>
      <tbody *ngIf="data().length > 0;" class="divide-y divide-gray-200">
        <tr *ngFor="let items of data()" class="cursor-pointer">
          <td class="size-px whitespace-nowrap">
            <div class="ps-6 py-3">
              <label for="hs-at-with-checkboxes-6" class="flex">
                <input type="checkbox"
                  class="shrink-0 border-gray-300 rounded-sm text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                  id="hs-at-with-checkboxes-6">
                <span class="sr-only">Checkbox</span>
              </label>
            </div>
          </td>
          <td class="size-px whitespace-nowrap">
            <div class="px-6 py-3">
              <div class="flex items-center gap-x-2 relative group">

                <!-- Small image (which will show the larger version on hover) -->
                <img class="inline-block size-8 rounded-full transition-all duration-300 group-hover:scale-150"
                  [src]="items.image" loading="lazy" alt="Avatar">

                <!-- Clinic Name -->
                <div class="grow">
                  <span class="text-[15px] text-gray-600">{{items.clinicName}}</span>
                </div>

                <!-- Larger image shown on hover -->
                <div
                  class="absolute inset-0 -left-10 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-400">
                  <img class="max-w-[200px] rounded-lg" [src]="items.image" loading="lazy" alt="Large Avatar">
                </div>
              </div>
            </div>
          </td>

          <td class="size-px whitespace-nowrap">
            <div class="px-6 py-3">
              <div type="button"
                class="py-2 px-3 inline-flex items-center gap-x-2 text-[15px] bg-white text-gray-800  hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                <i class='bx bx-phone-call'></i>
                {{items.contactNumber}}
              </div>
            </div>
          </td>

          <td class=" whitespace-wrap w-[200px] ">
            <div class="px-6 py-3">
              <span class="text-sm line-clamp-1 text-gray-600">
                {{items.address}}
              </span>
            </div>
          </td>
          <td class="size-px whitespace-wrap w-[200px]">
            <div class="px-6 py-3 flex items-center">
              <i class='bx bx-envelope mx-2 '></i>
              <span class="text-sm  text-gray-600">
                {{items.email}}
              </span>
            </div>
          </td>
          <td class="size-px whitespace-nowrap">
            <div class="px-6 py-3">
              <span class="text-sm text-gray-600">{{items.createdDate | date}}</span>
            </div>
          </td>
          <td class="size-px">
            <div class="px-6 py-1.5">
              <div class="">
                <div class="relative inline-flex max-h-[60px]">

                  <app-dropdown [dropdownId]="items.id" [activeDropdown]="activeDropdown"
                    (toggle)="toggleDropdown($event)">

                    <button dropdown-button id="hs-table-dropdown-6" type="button"
                      class="hs-dropdown-toggle py-1.5 px-2 inline-flex justify-center items-center gap-2 rounded-lg text-gray-700 align-middle disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm"
                      aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                      <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="1" />
                        <circle cx="19" cy="12" r="1" />
                        <circle cx="5" cy="12" r="1" />
                      </svg>
                    </button>
                    <div dropdown-body class="  max-w-[300px] z-10 bg-white py-1 shadow-xl rounded-lg p-2 mt-2"
                      role="menu" aria-orientation="vertical" aria-labelledby="hs-table-dropdown-6">
                      <div class="py-2 first:pt-0 last:pb-0">
                        <button
                          class="flex w-full  text-black items-center gap-x-3 cursor-pointer py-2 px-3 rounded-lg text-sm "
                          (click)="setModal('approve',items.id)">
                          <i class='bx bx-user-voice text-xl'></i>
                          Approve
                        </button>
                      </div>
                      <div class="first:pt-0 last:pb-0">
                        <button
                          class="flex w-full   items-center gap-x-3 py-2 px-3 rounded-lg text-sm  cursor-pointer focus:outline-hidden focus:bg-gray-100"
                          (click)="emailService.activeBox(items.email)" (click)="activeDropdown=null"
                          (click)="setEmail(items.email)">
                          <i class='bx bx-mail-send text-xl'></i>
                          send email
                        </button>
                      </div>
                      <div class="py-2 first:pt-0 last:pb-0">
                        <button
                          class="flex w-full  text-black items-center gap-x-3 cursor-pointer py-2 px-3 rounded-lg text-sm "
                          (click)="setModal('reject',items.id)">
                          <i class='bx bx-user-voice text-xl'></i>
                          Reject
                        </button>
                      </div>
                    </div>
                  </app-dropdown>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="data().length === 0">
        <tr>
          <td colspan="100%" class="p-6" [@doctorFadeIn]>
            <div class="w-full flex flex-col items-center justify-center bg-white text-center p-6">
              <h3 class="text-lg font-semibold text-gray-800 mb-2">No Clinics Found</h3>
              <p class="text-sm text-gray-500">There are currently no clinics available. Please check back again soon.
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="data().length > 0"
      class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200">
      <div>
        <p class="text-sm text-gray-600">
          <span class="font-semibold text-gray-800">6</span> results
        </p>
      </div>

      <div>
        <div class="inline-flex gap-x-2">
          <button type="button"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m15 18-6-6 6-6" />
            </svg>
            Prev
          </button>

          <button type="button"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
            Next
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m9 18 6-6-6-6" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [isOpen]="activeModal === 'approve'" (closeModal)="activeModal = null">
  <div class="size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none">
    <div class=" sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
      <div class="w-full flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl pointer-events-auto">
        <div class="flex justify-between items-center py-3 px-4 border-b border-gray-200">
          <h2 class="text-xl font-bold mb-4">Approve Clinic Account</h2>
        </div>
        <div class="p-4 overflow-y-auto">
          <p class="mt-1 text-gray-800">
            Are you sure you want to approve this clinic? Once approved, the clinic will have full access.
        </div>
        <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200">
          <button type="button" (click)="approveClinic()"
            class="py-2 px-3  inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
            Approve
          </button>
          <button type="button" (click)="activeModal=null"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-[#eee]  hover:bg-white ">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</app-modal>
<app-modal [isOpen]="activeModal === 'reject'" (closeModal)="activeModal = null">
  <div class="size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none">
    <div class=" sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
      <div class="w-full flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl pointer-events-auto">
        <div class="flex justify-between items-center py-3 px-4 border-b border-gray-200">
          <h2 class="text-xl font-bold mb-4">Reject Clinic Account</h2>
        </div>
        <div class="p-4 overflow-y-auto">
          <p class="mt-1 text-gray-800">
            Are you sure you want to Reject this clinic? Once Reject, the clinic will have deleted.
        </div>
        <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200">
          <button type="button" (click)="rejectClinic()"
            class="py-2 px-3  inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
            Reject
          </button>
          <button type="button" (click)="activeModal=null"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-[#eee]  hover:bg-white ">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</app-modal>